LIBRARYROTTERDAMCLIENT__LOGIN__USERNAME=AzureDiamond
LIBRARYROTTERDAMCLIENT__LOGIN__PASSWORD=hunter2

LIBRARYROTTERDAMCLIENT__USERAGENT='Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0'

# Mail settings
EMAILSETTINGS__FROM__NAME=OverdueBookReporter
EMAILSETTINGS__FROM__ADDRESS=john@gmail.com

EMAILSETTINGS__TO__NAME=John
EMAILSETTINGS__TO__ADDRESS=john@gmail.com

EMAILSETTINGS__MAILSERVER__HOST=smtp.gmail.com
EMAILSETTINGS__MAILSERVER__PORT=465
EMAILSETTINGS__MAILSERVER__USESSL=true
EMAILSETTINGS__MAILSERVER__USERNAME=john@gmail.com
EMAILSETTINGS__MAILSERVER__PASSWORD=hunter2

# or just localhost (smtp4dev)
EMAILSETTINGS__MAILSERVER__HOST=localhost
EMAILSETTINGS__MAILSERVER__PORT=25
EMAILSETTINGS__MAILSERVER__USESSL=false
EMAILSETTINGS__MAILSERVER__USERNAME= 
EMAILSETTINGS__MAILSERVER__PASSWORD= 

# Enable outgoing HTTP requests logging middleware
# Logging__LogLevel__System.Net.Http.HttpClient.LibraryRotterdamClient=Trace